* {
  margin: 0 auto;
  box-sizing: none;
  padding: 0;
}
body {
  width: 1400px;
  margin: 200px;
}
#header {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
}
#nav-bar {
  display: flex;
  gap: 40px;
  font-size: 20px;
  margin-top: 10px;
}
#header-img {
  max-width: 400px;
}
