* {
  margin: 0 auto;
  box-sizing: none;
  padding: 0;
}
body {
  /* width: 1400px; */

  margin-top: 200px;
  background: #ede9dd;
  font-family: sans-serif;
}
#header {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
}
.title {
  font-size: 50px;
  margin-bottom: 100px;
  text-transform: uppercase;
}

.main {
  margin: 0 auto;

  width: 1000px;
  text-align: center;
}
.features-list {
  margin-top: 100px;
  list-style: none;
}
.features-1 {
  font-size: 50px;
  margin-bottom: 10px;
}

iframe {
  width: 700px;
}

a {
  text-decoration: none;
  color: black;
}

#nav-bar {
  display: flex;
  gap: 40px;
  font-size: 20px;
  margin-top: 10px;
}
#header-img {
  max-width: 400px;
}

@media screen and (max-width: 600px) {
  #nav-bar {
    font-size: 10px;
  }
  #header-img {
    width: 300px;
  }
}
