* {
  margin: 0 auto;
  box-sizing: none;
  padding: 0;
}
body {
  /* width: 1400px; */

  margin-top: 200px;
  background: #ede9dd
}
#header {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
}

.main {
  margin: 0;
  margin-left: 200px;
}

iframe {
  width: 700px;
}

a{
  text-decoration: none;
  color: black;
}

#nav-bar {
  display: flex;
  gap: 40px;
  font-size: 20px;
  margin-top: 10px;
}
#header-img {
  max-width: 400px;
}

@media screen and (max-width: 600px) {
  
}
